// 字体大小
@for $num from 1 through 100 {
	.fs_#{$num} {
        font-size: #{$num}px;
    }
}


// 行高
// 单位 px
@for $num from 1 through 100 {
	.lh_#{$num} {
        line-height: #{$num}px;
    }
}
// 单位 相对字体大小
// @each $num in (1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2) {
//     *[c-lh_#{$num}], .lh_#{$num} {
//         line-height: #{$num}px;
//     }
// }


// 字重
.fw {
    font-weight: bold;
}
.fwer {
    font-weight: bolder;
}
@each $num in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
    .fw_#{$num} {
      font-weight: #{$num};
    }
}


// 对齐
.ta_l {
    text-align: left;
}
.ta_c {
    text-align: center;
}
.ta_r {
    text-align: right;
}